<a class="back" href="index.html">← All episodes</a>
<h1><%= CGI.escapeHTML("#{ep.fetch(:number)}. #{ep.fetch(:title)}") %></h1>

<% ep.fetch(:text).split("\n\n").each do |para| %>
  <% if (m = para.match(/\A\[([^\]]+)\]\s*(.*)/)) %>
    <% anchor = m[1].gsub(/[^0-9:]/, "").gsub(":", "-") %>
    <% time = m[1].gsub(/[^0-9:]/, "") %>
    <h6 id="t-<%= anchor %>" class="timestamp"><a href="#t-<%= anchor %>" data-seek="<%= time %>">[<%= CGI.escapeHTML(m[1]) %>]</a></h6>
    <p><%= CGI.escapeHTML(m[2]) %></p>
  <% else %>
    <p><%= CGI.escapeHTML(para) %></p>
  <% end %>
<% end %>
